/* For index.html */
.index-body {
    background-image: url('static/images/landing_tech.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* For upload.html */
.upload-body {
    background-image: url('static/images/upload_bkg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
